-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path , :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]" , 1 , session.has_key?(:selected_ratings) ? (tmp=session[:selected_ratings]).include?("#{rating}") : false
  = hidden_field_tag("sort", params[:sort])
  = submit_tag 'Refresh', :id => "ratings_submit"

%table#movies
  %thead
    %tr
      %th{:class => @title_css}= link_to "Movie Title", {:sort => "title" , :ratings => params[:ratings]}, :id => "title_header"
      %th Rating
      %th{:class => @release_css}= link_to "Release Date", {:sort => "release_date" , :ratings => params[:ratings]}, :id => "release_date_header"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path